# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;"
set playernames_svTemplate "[{{id}}] {{firstname}} {{name}}"
set playernames_template "{{serverName}}"

#required
start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
#start scoreboard
start mysql-async
start playernames

#vrp
start vrp_mysql
start vrp
start vrp_playernames
start vrp_basic_mission
start vrp_barbershop
start vrp_carwash
start vrp_loadfreeze
start vRP_AdvancedFuel
start vrp_job_display
start vrp_bankrobbery
start vrp_basic_menu
start vrp_barrier
start vrp_TruckerJob
start vrp_slotmachine
start vrp_ubermission
start vrp_fixcar
start vrp_dvcar
start vrp_hotkeys
start vrp_chopshop
start railhouse
start online
start bob74_ipl
start pvp
start Ped
start banking

#custom
start blips
start club_B
start club_R
start racetrack
start map
start VK_interiors
start ThereMap
start indicators
start simeonfix
start pNotify
start lux_vehcontrol
start lscustoms
start BrockALPR
start RealisticVehicleFailure
start warmenu
start k9

#condensed scripts (non-vrp)
start CustomScripts

#police vehicles
start bcso
start Captain14_LSPD
start Captain14_Sheriff
start DodgeCharger2014
start FordExplorer
start hwycars
start pol718
start polf430
start policeb
start polmav
start riot

#police skins
start detective
start ems
start hway
start police
start sheriff
start sheriffd
start swat

#job vehicles
start repairtruck

#custom cars
start Audi_C7_RS6
start Audi_S5
start Lexus_RC350
start r8ppi
start c10custom
start chantom
start skyline
start subaruimpreza
start f4rr
start firebird
start ford
start GT
start moto
start moto2
start moto3
start evo
start truck

#Keep this here, it stops some errors
restart sessionmanager

sv_scriptHookAllowed 0

# change this and remove the # before rcon_password if you are using rcon, if not, leave this as is
#rcon_password ChangeMe

sv_hostname "Dunko's vRP V6.6"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (default to 30)
sv_maxclients 32

# Get a key from https://keymaster.fivem.net
sv_licensekey changeme