*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

@font-face {
  font-family: 'Pricedown';
  src: url(fonts/Pdown.woff);
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

/* menu */

.menu{
  background-color: rgba(255,255,255,0.0);
  font-family: 'Roboto', sans-serif;
  color: cyan;
  width: 300px;
  height: 99%;
  margin-left: -75px;
  margin: 25px; 
  align-content:center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; 
  text-align: center;
  cursor: pointer;
}

.menu_description{
  position: static;
  float: left;
  border-radius: 0px 0px 25px 0px;
  font-weight: bold;
  padding: 9px;
  font-size: 1.2em;
  max-width: 500px;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  border: 1px solid cyan;
  color: cyan;
  box-shadow: inset 1px 1px 18px 1px #000000;
  background-color: #3A3A3A;
  text-shadow: 1px 1px 4px #3A3A3A;
  font-family: 'Roboto', sans-serif;
}

.menu h1{
 display:none;
 font-size: 0px;
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices div{
  padding: 10px 24px;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid cyan;
  color: cyan;  
  text-shadow: 1px 1px 4px #3A3A3A;
  background-color: #3A3A3A;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  
}

.choices .selected{
  background-color: cyan;
  color: #3A3A3A;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #3A3A3A;
  border-radius: 25px;
  text-shadow: 1px 1px 4px #00FFFF; 
  box-shadow: inset 1px 1px 18px 1px #000000;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  background-color: #3A3A3A;
  border: 1px solid cyan;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 18px 1px #000000;
  color: cyan;  
  width: 300px;
  height: 200px;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  cursor: pointer;
}

.wprompt h1{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(58,58,58,0.75);
  border: 1px solid rgba(0,255,255,0.30);
  box-shadow: inset 1px 1px 18px 1px #000000;
  border-radius: 0px 25px 25px 0px;
  flex: 1;
  color: cyan;
  width: 100%;
  padding: 12px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding: 3px;
  text-transform: uppercase;
}

/* request manager */
.request_manager{
  position: absolute;
  bottom: -1px;
  right: 25px;
  text-align: right;
}

.request_manager div{
  margin-bottom: 0px;
}

.request_manager div > span{
  background-color: #3A3A3A;
  border: 1px solid cyan;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 1px 1px 18px 1px #000000;
  border-radius: 5px 5px 0px 0px;
  font-size: 25px;
  color: white;
  margin-bottom: -1px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.request_manager .yes{
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1em;
  text-transform: uppercase;
}

.request_manager .no{
  font-family: 'Roboto', sans-serif;
  color: rgb(255,0,0);
  font-size: 1em;
  text-transform: uppercase;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}

