<html style="overflow-x: hidden; overflow-y: hidden;">
    <header>
        <title>K9 Menu (scripted by Xander1998 (X. Cross)</title>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
        <link rel="stylesheet" href="https://unpkg.com/vuetify/dist/vuetify.min.css">
        <link rel="stylesheet" href="style.css">
    </header>
    <body>

        <div id="app">
            <v-app style="background-color: transparent !important">
                <div id="k9_menu_base" v-show="show_app">
                    <div id="k9_menu_header">
                        <img id="dog_icon_left" src="images/dog_left.png">
                        K9 MENU
                        <img id="dog_icon_right" src="images/dog_right.png">
                    </div>

                    <div id="k9_menu_body">

                        <div id="k9_main_tab" v-show="current_tab == 'main'">
                            <v-btn block color="dark" dark @click="OpenTab('option')">Options</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('animation')">Animations</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('action')">Actions</v-btn>
                        </div>

                        <div id="k9_options_tab" v-show="current_tab == 'option'">
                            <v-btn block color="dark" dark @click="ToggleNameChanger()">Change Name</v-btn>
                            <v-btn block color="dark" dark @click="ToggleModelChanger()">Change Model</v-btn>
                            <v-btn block color="dark" dark @click="SpawnK9()">Spawn/Delete K9</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('main')">Go Back</v-btn>
                        </div>

                        <div id="k9_animations_tab" v-show="current_tab == 'animation'">
                            <v-btn block color="dark" dark @click="DogSit()">Sit</v-btn>
                            <v-btn block color="dark" dark @click="DogLaydown()">Laydown</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('main')">Go Back</v-btn>
                        </div>

                        <div id="k9_actions_tab" v-show="current_tab == 'action'">
                            <v-btn block color="dark" dark @click="VehicleSearch()">Search</v-btn>
                            <v-btn block color="dark" dark @click="VehicleToggle()">Get in/out Vehicle</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('main')">Go Back</v-btn>
                        </div>

                        <v-btn block color="red" dark @click="DisableApp()">Close Menu</v-btn>

                        <div id="footer_credits"><font color="red">Scripted By:</font> Xander1998 (X. Cross)</div>
                    </div>

                    <div id="k9_name_modal">
                        <v-dialog v-model="k9_name_modal" max-width="500px">
                            <v-card>
                                <v-card-title id="k9_name_header">Choose Your Name</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <v-form v-model="k9_name_form_valid">
                                        <v-text-field label="Name" :rules="k9_name_rules" :counter="10" v-model="dog_name"></v-text-field>
                                        <v-btn color="blue" dark block @click="SetK9Name()">Submit</v-btn>
                                    </v-form>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                    <div id="k9_model_modal">
                        <v-dialog v-model="k9_model_modal" max-width="70%">
                            <v-card>
                                <v-card-title id="k9_model_header">Choose Your Model</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>

                                    <v-container grid-list-md text-xs-center>
                                        <v-layout row>
                                            <v-flex xs12 v-for="model in dog_models_list">
                                                <v-card>
                                                    <v-card-media :src="model.img"></v-card-media>
                                                    <v-card-media :src="model.img" height="200px" contain></v-card-media>
                                                    <v-card-title id="model_header_text">{{model.title}}</v-card-title>
                                                    <v-card-actions>
                                                        <v-btn color="blue" block dark @click="ChooseK9Model(model.model)">Select</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                    
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                </div>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>